<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design System - CoM</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <!-- START NAV -->
    <nav class="navbar has-background-black-bis">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="#">
					<img src="assets/img/logo.svg" alt="logo" width="100" height="auto">
        		</a>               
            </div>           
        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">	
		
        <div class="columns">
            <div class="column is-3">
                <aside class="menu">
					{% for section in site.data.menu %}
						 <p class="menu-label">
							{{ section.name }} 
						</p>
							<ul class="menu-list">
                              {% for subsection in section.subsections %}
                                      <li><a href="{{subsection.name | downcase | append:'.html'}}"> {{subsection.name}}</a></li>	
                              {% endfor %}
							</ul>
							
					{% endfor %}                  
                      
                </aside>
            </div>
            <div class="column is-9">
					{{content}}
            </div>
        </div>
    </div>    
</body>
</html>





